.main {
    min-height: 100vh;
    //background-image: url('/assets/1769725.jpg');
    background-image: url('/assets/background3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding-top: 100px;
    padding-right: 10%;
    padding-left: 10%;

    color: rgb(219, 219, 219);
    font-family: 'Text';
    font-weight: 100;

    .intro {
        max-width: 600px;
        margin-bottom: 40px;
        justify-content: center;
        text-align: center;
        
        h1 {
            text-align: center;
            font-size: 6em;
            font-family: 'Wobble Title', sans-serif;
            font-weight: 100;
            text-transform: uppercase;
            
            color: rgb(228, 222, 242);
            margin: 0px;
            margin-bottom: 20px;
        }
    }
}

